.container{
  position: relative;
  /* width:20rem; */
  margin:auto;
  margin-bottom:1.5rem;
  

}

.image{
  width: 100%;
  transition: .5s ease;
  border-radius:1rem;

}

.overlay {
  position: absolute;
  
  bottom: 0;
  font-size:1.5rem;
  color:white;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: .5s ease;
  padding:1rem 0;
  
}

.delete{
  position:absolute;
  top: 1rem;
  right:1rem;
  opacity: 0;
  transition: .5s ease;
  padding:0.5rem 1rem;
  color:#DC2626;
  border:1px solid #DC2626;
  border-radius:2rem;
  background-color: transparent;
  cursor: pointer;

}

.container:hover .image{
  /* opacity:0.5; */
  filter:brightness(50%);
  


}

.container:hover .overlay{
  opacity:1;
  /* color:green; */
}

.container:hover .delete{
  opacity:1;
}