.gallery{
    position:absolute;
    top:7rem;
    left:0;
    padding:0 2rem;
    z-index: -4;
    --btn-red:#EB5757;
    --dark-red:#B91C1C;
    --light-red:#FEE2E2;
        /* Prevent vertical gaps */
        
         
        -webkit-column-count: 4;
        -webkit-column-gap:   0px;
        -moz-column-count:    4;
        -moz-column-gap:      0px;
        column-count:         2;
        column-gap:           2rem;  
        
      
      
}

@media (min-width: 1000px) {
    .gallery{
        column-count: 3;
        column-gap:2rem;
    }
    
  }

  .modal{

      position:fixed;
      margin:auto;
      width:23rem;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      transition:width 0.5s ease-in-out;
      background-color: #fff;
      border:1px solid var(--input-border);
      padding:0.75rem;
      border-radius:1rem;
      z-index:2;
 


  }

/* 
@keyframes stretch {
    50% {
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
        left:50%;
        
      transform: scale(0.2);
     }
    
    100% {
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      transform: scale(1);
    }
  } */

  .red-btn{
    background:#EB5757;
    
    color:#FFF;
  }

  
.loader{
    position:absolute;
    height:70vh;
    width:100vw;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;

}

