@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.nav-div{
    /* z-index:2; */
    --input-border:#BDBDBD;
    --green-button-bg:#3DB46D;
    --dark-red:#B91C1C;
    --light-red:#FEE2E2;

}
.nav{
    display:flex;
    justify-content:space-between ;
    align-items:center;
   
 
   
}

.left{
    display:flex;
    align-items:center
}
.nav input{
    height:1rem;
    min-width:12rem;
    margin-left:1rem;
    padding:0.5rem;
    border: 1px solid var(--input-border);
    border-radius:12px;
}

.btn{
    /* width:6.5rem;
    text-align:center;*/
    /* height:2rem;  */
   
    margin-left:1rem;
    padding:0.5rem;
    border:none;
    border-radius:12px;
    cursor: pointer;
}
.green-btn{
    background:var(--green-button-bg);
    color:#FFF;
}
.green-btn:hover{
    background:#66CC70;
}

.form{
    z-index:2;
    margin:2rem;
    max-width:25rem;
    background:#fff;
    /* height:15rem; */
    margin:1.5rem auto;
    border:1px solid var(--input-border);
    padding:1rem;
    border-radius:12px;
    animation:stretch 500ms ease-in-out;

}

.form h3{
    margin-block-start:0;
    margin-block-end:0.7em;

}

.form-input{
    /* width:97%; */
    margin-left:0;
    margin-bottom:1rem;
    border:1px solid var(--input-border);
    height:1.5rem;
    font-size:1rem;
    padding:0.5rem;
    border-radius:12px;


}

form{
    min-height:9rem;
    z-index:2;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    /* position:absolute; */
    
}

.btns{
    display:flex;
    justify-content: flex-end;
}

label{
    margin-bottom:0.5rem;
}


@keyframes stretch {
    0% {
      transform: scale(0.2);
     }
    
    100% {
      transform: scale(1);
    }
  }

  .error{
    border:1px solid #B91C1C;
    padding:0.5rem;
    border-radius:12px;
    background:#FEE2E2;
  }

  button,input{
    font-family: 'Kanit', sans-serif;

  }

  input{
  color:#374151 ;
  
  }