@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
.App{
  padding:1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  --input-border:#BDBDBD;
  color:#374151 ;
}

input:focus,button:focus{
  outline: none;
}

