@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.App{
  padding:1.5rem;
  font-family: 'Kanit', sans-serif;
  --input-border:#BDBDBD;
  color:#374151 ;
}

input:focus,button:focus{
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D1D5DB;
  opacity: 1; /* Firefox */
}
.nobright{
  display: none;
}
.bright{
  position:absolute;
  top:7rem;
  left:0;
  right:0;
  background:rgb(0,0,0,0.65);
  z-index: -1;
  bottom:0;  

}

.fade-in{
  
  animation:fade-in 500ms ease-in-out;
}

@keyframes fade-in{
  from{
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.fade-out{
  /* background:transparent; */
  opacity:0;
  animation:fade-out 500ms ease-in-out;
}

@keyframes fade-out{
  from{
    opacity:1;
  }
  to {
    opacity:0;
  }
}



  
