@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.App{
  padding:1.5rem;
  font-family: 'Kanit', sans-serif;
  --input-border:#BDBDBD;
  color:#374151 ;
}

input:focus,button:focus{
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #D1D5DB;
  opacity: 1; /* Firefox */
}